node_modules/.bin/color-support
node_modules/.bin/image-size
node_modules/.bin/mkdirp
node_modules/.bin/nanoid
node_modules/.bin/node-gyp
node_modules/.bin/node-which
node_modules/.bin/nopt
node_modules/.bin/openai
node_modules/.bin/prebuild-install
node_modules/.bin/rc
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/.bin/xml-js
node_modules/color-support/bin.js
node_modules/image-size/bin/image-size.js
node_modules/mkdirp/bin/cmd.js
node_modules/nanoid/bin/nanoid.js
node_modules/node-gyp/bin/node-gyp.js
node_modules/nopt/bin/nopt.js
node_modules/openai/bin/cli
node_modules/prebuild-install/bin.js
node_modules/rc/cli.js
node_modules/rimraf/bin.js
node_modules/semver/bin/semver.js
node_modules/sqlite3/build/Release/node_sqlite3.node
node_modules/which/bin/node-which
node_modules/xml-js/bin/cli.js
